*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ======= fixed header footer  ===========*/

header{
    background-color: rgb(22, 46, 172);
    height: 48px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 0 20px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(49, 48, 53);
    color:white;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
}

footer p{
    font-weight: 300;
    margin-left: 8%;
}

#menu-button{
    background-color: rgb(95, 105, 255);
    height: 24px;
    padding: 6px 10px 0 10px;
    line-height: 0;
    border-radius: 5px;
    justify-self: end;
    grid-column: 2/3;
}

#menu-button:hover{
    background-color: rgb(203, 68, 82);
}

#menu-button i{
    color:white;
    font-size: 1.2rem;
}

#menu{
    background-color: rgba(22, 47, 172, 0.539);
    position: fixed;
    top: 48px;
    height: 100%;
    right: -100%;
    width: 50%;
    transition: right 0.4s ease;
    z-index: 98;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    backdrop-filter: blur(7px) brightness(90%);
}

#menu.visible {
    right: 0;
}

#menu a{
    color:white;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#menu li{
    display: block;
    width: 100%;
}

#menu ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
}

#menu ul li a:hover{
    background-color: rgb(203, 68, 82);
}

.icon{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.icon p{
    font-size: 20px;
    margin: 20px 0 30px 0;
}

.back-button i, .back-button span{
    background-color: rgb(95, 105, 255);
    height: 24px;
    line-height: 1.5;
    color:white;
    font-size: 1.2rem;
}

.back-button i{
    border-radius: 5px;
    padding: 1px 5px 5px 5px;
}

.back-button span{
    border-radius: 10px;
    padding: 2px 25px 5px 25px;
    font-weight: 500;
}

.back-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-self: start;
}

.back-button:hover i,
.back-button:hover span{
    background-color: rgb(203, 68, 82);
}

button:hover{
    background-color: rgb(203, 68, 82); 
}

button a{
    color:white;
}

.visible{
    display: block;
}