body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

main{
    max-width: 90%;
    margin: auto;
}

.demo {
    background-color: #eeeeee;
    border-radius: 21px;
    padding: 12px;
    margin-bottom: 2rem;
}

img {
    max-width: 35%;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.time {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.enter-location {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.enter-location div:nth-of-type(1) {
    background-color: white;
    padding: 1rem 1rem;
    border: 1px solid #545454;
    border-radius: 15px 15px 0 0;
    max-width: 100%;
}

.enter-location div:nth-of-type(2) {
    background-color: white;
    padding: 1rem 1rem;
    border: 1px solid #545454;
    border-radius: 0 0 15px 15px;
    max-width: 100%;
}

.inputbox {
    position: relative;
    margin-bottom: 2rem;
}

.rider-detailss {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.rider-info {
    margin-left: 1rem;
}

.name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: .5rem;
}

.btns input {
    background-color: #5F69FF;
    color: white;
    border: none;
    font-size: 16px;
    padding: .5rem 2rem;
    border-radius: 10px;
}

.btns input[value='Already Accepted'],
.btns input[value='Trip Preview'],
.btns input[value='Accept'],
.btns input[value='Decline'],
.btns input[value='Request Approved'] {
    margin: 0;
    padding: .8rem 1rem;
}

.btns input[value='Request Approved'],
.btns input[value='Already Accepted'] {
    background-color: #9C9C9C;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#menu-button{
    background-color: rgb(95, 105, 255);
    height: 24px;
    padding: 6px 10px 0 10px;
    line-height: 0;
    border-radius: 5px;
    justify-self: end;
    grid-column: 2/3;
}

#menu-button:hover{
    background-color: rgb(203, 68, 82);
}

#menu-button i{
    color:white;
    font-size: 1.2rem;
}

#menu{
    background-color: rgba(22, 47, 172, 0.539);
    position: fixed;
    top: 48px;
    height: 100%;
    right: -100%;
    width: 50%;
    transition: right 0.4s ease;
    z-index: 98;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    backdrop-filter: blur(7px) brightness(90%);
}

#menu.visible {
    right: 0;
}

#menu a{
    color:white;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#menu li{
    display: block;
    width: 100%;
}

#menu ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    padding: 0;
}

#menu ul li a:hover{
    background-color: rgb(203, 68, 82);
}

.back-button i, .back-button span{
    background-color: rgb(95, 105, 255);
    height: 24px;
    line-height: 1.5;
    color:white;
    font-size: 1.2rem;
}

.back-button i{
    border-radius: 5px;
    padding: 1px 5px 5px 5px;
}

.back-button span{
    border-radius: 10px;
    padding: 2px 25px 5px 25px;
    font-weight: 500;
}

.back-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-self: start;
}

.back-button:hover i,
.back-button:hover span{
    background-color: rgb(203, 68, 82);
}

a{
    text-decoration: none;
}

header {
    background-color: rgb(22, 46, 172);
    height: 48px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 0 20px;
}