body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

header {
    padding: 1.5rem;
    text-align: center;
    text-align: left;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.516);
}

header .logo {
    max-width: 100%;
    height: auto;
}
.title {
    font-weight: 600;
    margin-bottom: .2rem;
    font-size: 4vh;
}

.para {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: .9rem;
}

.para a {
    text-decoration: none;
    color: #162EAC;
}

label {
    font-size: 14px;
}

main {
    max-width: 90%;
    margin: auto;
    height: 100vh;
}

.create-ac {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    grid-gap: 0.25rem;
}

input{
    padding: 18px 16px;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #D8DADC;
    font-size: 16px;
    outline: none;
}

.password-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.password-container input {
    padding-right: 6px;
}

.password-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 7px;
    cursor: pointer;
}

.password-btn i {
    font-size: 16px;
    color: rgba(33, 33, 33, 0.6);
    cursor: pointer;
}

.password-btn i:hover {
    color: #4e546f;
}

input[type="checkbox"] {
    margin: 0;
}

.checkbox label {
    margin: 0;
}

.checkbox{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .7rem;
}

#submit{
    margin-top: 2rem;
    background-color: #162EAC;
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px 1px rgb(219, 215, 215);
    border: none;
    outline: none;
}

.register{
    margin: 2rem 0;
    display: grid;
    text-align: center;
}

.register h2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

.register h2:before,
.register h2:after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: #D4DADC;
}

.register h2:before {
    top: 50%;
    left: 0;
}

.register h2:after {
    top: 50%;
    right: 0;
}

.icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.icons i {
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid #D8DADC;
    padding: .7rem 1.8rem;
    border-radius: 10px;
}

.image {
    display: flex;
    align-items: center;
}

.image img {
    max-width: 100%;
    display: none;
    border-radius: 5px;
}

footer{
    margin-top: 2rem;
    background-color: #D9D9D9;
    text-align: center;
    padding: .5rem;
}

@media screen and (min-width: 800px) {
    .image img {
        display: block;
        object-fit: contain;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .app-wrapper {
        width: 70%;
        margin: auto;
    }

}