body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

header {
    padding: 1.5rem;
    text-align: center;
    text-align: left;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.516);
}

header .logo {
    max-width: 100%;
    height: auto;
}

.title {
    font-weight: 600;
    margin-bottom: .2rem;
    font-size: 4vh;
}

label {
    font-size: 14px;
}

main {
    max-width: 90%;
    margin: auto;
}

.create-ac {
    text-align: center;
    margin-bottom: 3rem;
}

.create-ac h1 {
    font-size: 2.5rem;
}

form{
    display: flex;
    flex-direction: column;
    grid-gap: 0.25rem;
}

input{
    padding: 18px 16px;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #D8DADC;
    font-size: 16px;
}

#submit{
    margin-top: 2rem;
    background-color: #162EAC;
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.req-style {
    color: rgb(225, 3, 3);
}

.image img {
    max-width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px;
}

footer{
    margin-top: 2rem;
    background-color: #D9D9D9;
    width: 100%;
    text-align: center;
    padding: .5rem;
}

@media screen and (min-width: 800px) {
    header .logo,
    .image img {
        display: block;
        object-fit: contain;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .app-wrapper {
        width: 70%;
        margin: auto;
    }

}