
*{
    margin: 0;
    padding: 0;
}
img {
max-width: 100%;
height: auto;
}
header {
    background-color: #162EAC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.header-title {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-title i, .header-title h3, header > i {
    background-color: #5F69FF;
    padding: .2rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
}
.header-title i {
    border-radius: 7px;
    padding: .3rem .4rem;
}

header > i {
    border-radius: 5px;
    padding: .3rem .5rem;
}

main {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.photo-email{
    /* background-color: red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: .5rem;
}

#update-image, #update-name, #update-car-model, #update-emergency-phone {
    background-color: #162EAC;
    color: white;
    width: 60%;
    padding: 10px 0;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
}

.profile-pic{
    border-radius: 50%;
    width: 50%;
}

#user-name{
    padding-top: 0.2rem;
    font-size: 2rem;
}
ul{
    margin: .4rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: .4rem;

}

.display-none{
    display: none;
}

li{
    list-style-type: none;

}

input{
    width: 95%;
}

.details{
  display: grid;
  gap: 2rem;
    
}

input[type="button"]{
    width: 300px;
    height: 63px;
    border-radius: 10px;
    border: none;
    margin-top: 35px;
    font-size: 20px;
    background-color: rgb(95, 105, 255);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

input[type="button"]:hover{
    background-color: rgb(203, 68, 82);
    cursor: pointer;
}

.details .common-details, #vehicle-details{
    background-color: #D8DADC;
    border-radius: 10px;
    padding: 10px 20px;
}

.details{
    margin: 30px 0;
}

ul li{
    height: 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 10px 0;
}

ul li input{
    height: 2rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

ul li i{
    width: 30px;
    justify-self: center;
    color: #162EAC;
}

.buttons{
    margin-bottom: 70px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(49, 48, 53);
    color:white;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
}

footer p{
    font-weight: 300;
    margin-left: 8%;
}
