body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

header {
    background-color: rgb(22, 46, 172);
    height: 48px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 0 20px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header-title i, .header-title h3, header > i {
    background-color: #5F69FF;
    padding: .2rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

.header-title i {
    border-radius: 7px;
    padding: .3rem .4rem;
}

header > i {
    border-radius: 5px;
    padding: .3rem .5rem;
}

.header-title h3 {
    font-weight: 400;
}

a{
    text-decoration: none;
}

main {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.enter-location {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.enter-location input:nth-of-type(1) {
    padding: 1rem;
    border: 1px solid #545454;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.enter-location input:nth-of-type(2) {
    padding: 1rem;
    border: 1px solid #545454;
    border-radius: 0 0 15px 15px;
    width: 100%;
}

.inputbox {
    position: relative;
    margin-bottom: 2rem;
}

#switch-button {
    background: none;
    border: none;
    position: absolute;
    top: 28px;
    right: 0;
    background-color: #878383;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

#switch-button:hover {
    background-color: #636262;
}

canvas {
    border-radius: 15px;
}

#switch-button i {
    display: block;
    font-size: 1.5rem;
    color: white;
}

h2, h3 {
    font-weight: 500;
}

.home, .work, .location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.home i, .work i, .location i {
    color: #CB4452;
}

.ride-schedule {
    margin: 1rem;
    padding: 1rem 0;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353;
}

.ride-schedule input {
    background-color: #E1E1E1;
    border: 1px solid #C5C5C5;
    padding: 1rem .5rem;
    border-radius: 10px;
}

.ride-schedule input:nth-of-type(3) {
    background-color: #F2F2F2;
    border: 1px dotted #777777;
    padding: .6rem .5rem;
}

.ride-schedule h2 {
    grid-column: span 2;
    margin: 0;
}

.ride-schedule input:nth-of-type(3) {
    grid-column: span 2;
}

.trip-preferences {
    text-align: left;
}

.trip-preference-input {
    background-color: #aba8a82f;
    border-radius: 10px;
    padding: 1rem;
}

.luggage {
    border-bottom: 1px solid #C1C1C1;
}

.luggage ul li,
.buttons ul li {
    list-style-type: none;
    background-color: #E1E1E1;
    padding: .5rem .8rem;
    border-radius: 10px;
    font-size: 12px;
}

.luggage ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    justify-content: space-between;
}

.passengers {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C1C1C1;
}

.input-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.input-group input {
    background-color: transparent;
    border: none;
    width: 15%;
    text-align: center;
}

.input-group-button button {
    border: none;
}

.pets {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.buttons ul li{
    display: inline-block;
}

.price {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.price input {
    background-color: #E1E1E1;
    border: 1px solid #D8DADC;
    height: 90%;
    width: 30%;
    border-radius: 10px;
    padding: .5rem .8rem;
    font-size: 12px;
}

.trip-description {
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.trip-description textarea {
    background-color: #30303034;
    border-radius: 10px;
    padding: .5rem;
}

.vehicle-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.add-vehicle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    justify-content: flex-end;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    align-self: center;
}

.vehicle {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: .2rem;
}

.vehicle img {
    grid-row: 1/3;
}

.vehicle p:nth-of-type(1) {
    text-align: baseline;
}

.vehicle p:nth-of-type(3) {
    grid-column: span 2;
}

#driver_licence, #driver_label {
    justify-self: left;
}

#submit{
    margin-top: 2rem;
    background-color: #ABABAB;
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px 1px rgb(219, 215, 215);
    border: none;
    outline: none;
    width: 300px;
}

#submit:hover {
    background-color: #162EAC;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#menu-button{
    background-color: rgb(95, 105, 255);
    height: 24px;
    padding: 6px 10px 0 10px;
    line-height: 0;
    border-radius: 5px;
    justify-self: end;
    grid-column: 2/3;
}

#menu-button:hover{
    background-color: rgb(203, 68, 82);
}

#menu-button i{
    color:white;
    font-size: 1.2rem;
}

#menu{
    background-color: rgba(22, 47, 172, 0.539);
    position: fixed;
    top: 48px;
    height: 100%;
    right: -100%;
    width: 50%;
    transition: right 0.4s ease;
    z-index: 98;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    backdrop-filter: blur(7px) brightness(90%);
}

#menu.visible {
    right: 0;
}

#menu a{
    color:white;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#menu li{
    display: block;
    width: 100%;
}

#menu ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    padding: 0;
}

#menu ul li a:hover{
    background-color: rgb(203, 68, 82);
}

.back-button i, .back-button span{
    background-color: rgb(95, 105, 255);
    height: 24px;
    line-height: 1.5;
    color:white;
    font-size: 1.2rem;
}

.back-button i{
    border-radius: 5px;
    padding: 1px 5px 5px 5px;
}

.back-button span{
    border-radius: 10px;
    padding: 2px 25px 5px 25px;
    font-weight: 500;
}

.back-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-self: start;
}

.back-button:hover i,
.back-button:hover span{
    background-color: rgb(203, 68, 82);
}