#rider-photo{
    border-radius: 50%;
    object-fit: cover;
    width: 80px; 
    height: 80px; 
}

.available-rider-cards{
    background-color: rgb(225, 225, 225);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.driverContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}